<!DOCTYPE html>
<html lang="en">
	<head>
	
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Avaliação</title>
		
		<!-- Bootstrap -->
		<link href="../stylesheet/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../stylesheet/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		
		<!-- importando o css do projeto -->
		<link href="../stylesheet/imagens.css" rel="stylesheet">
		<link href="../stylesheet/cores.css" rel="stylesheet">
		<link href="../stylesheet/formatacao.css" rel="stylesheet">
		
			
	</head>
	
	<body class="bodyCor">
		
		<!-- Início da barra de menu -->
		<nav class="navbar navbar-default barraDeMenu">
			<div class="container-fluid">
			
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img src="../imagens/linuxLogo_small.png" id="linuxLogo_small">
					</a>
				</div>
				
				<div id="navbar" class="navbar-collapse">
					<!-- parte esqueda da barra de menu -->
					<ul class="nav navbar-nav textoBranco">
					
						<!-- links do menu-->
						<li><a href="#">Início</a></li>
						<li><a href="sobre.html">Sobre</a></li>
						<li><a href="#">Guia do Jogo</a></li>
					</ul>
					
					<!-- parte direita da barra de menu -->
					<ul class="nav navbar-nav navbar-right">
					
						<!-- links do menu-->
						<li><a>Pontuação: 100 pontos</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nome do Usuário<span class="caret"></span></a>
							<ul id="login-dropdown" class="dropdown-menu">
								<li>
									<div class="row">
										<div class="col-md-12">
											<form class="form" role="form" method="post" action="#" accept-charset="UTF-8" id="login-nav">
											
												<div class="form-group">
													<button type="submit" class="btn btn-primary btn-block">Perfil</button>
												</div>
												
												<div class="form-group">
													<button type="submit" class="btn btn-danger btn-block">Sair</button>
												</div>
												
											</form>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
					
				</div>
			</div>
		</nav>
		<!-- fim da barra de menu -->
		
		<!-- início do panel principal -->
		<div class="container">
		
			<div class="row">
			
				<div class="col-md-2">
					<div class="container">
						<img src="../imagens/userIcon.png" alt="" class="img-thumbnail">
					</div>
				</div>
				
				<div class="col-md-8">
				
					<div class="container-fluid">
			
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Número da Etapa</h3>
							</div>
							
							<div class="panel-body">
								<h5>1</h5>
							</div>
						</div>
		
					</div>
					
					<div class="container-fluid">
			
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Desempenho</h3>
							</div>
							
							<div class="panel-body">
								
								<div class="progress">
									<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
										 <label for="aria-valuenow">60%</label>
									</div>
									<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
										 <label for="aria-valuenow">40%</label>
									</div>
								</div>
							
							</div>
							
						</div>
		
					</div>
					
					<div class="container-fluid">
			
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Questões Incorretas</h3>
							</div>
							
							<div class="panel-body">
								<h3>
									<span class="label label-danger">1</span>
									<span class="label label-danger">2</span>
									<span class="label label-danger">4</span>
									<span class="label label-danger">9</span>
								</h3>
							</div>
							
						</div>
		
					</div>
					
					<div class="container-fluid">
						<button type="button" class="btn btn-primary">Refazer esta etapa</button>
						<button type="button" class="btn btn-success">Próxima Etapa</button>
					</div>
				
				</div>
			</div>
		
		</div>
		
	</body>
</html>