<!DOCTYPE html>
<html lang="en">
	<head>
	
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Cadastro</title>
		
		<!-- Bootstrap -->
		<link href="../stylesheet/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../stylesheet/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
			
	</head>
	
	<body>
		
		<div class="container" id="containerLogo">
			<img src="../imagens/linuxLogo_icon.png" width="141" height="140">
		</div>
		
		<p></p> <!-- pular linha -->
		
		<div class="container" id="containerPanel">
			<div class="panel panel-primary">
				<div class="panel-heading">Cadastro</div>
					<div class="panel-body">
						Panel content
					</div>
				</div>
		</div>
		</div>

	</body>
</html>