<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo</title>
	
	
    <link href="../stylesheet/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/Pretty-Header.css">
    <link rel="stylesheet" href="../assets/css/Mockup-MacBook-Pro.css">
    <link rel="stylesheet" href="../assets/css/untitled.css">
    <link rel="stylesheet" href="../assets/css/Bootstrap-Payment-Form.css">
	
</head>

<body>
    <nav class="navbar navbar-default custom-header">
        <div class="container-fluid">
		
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#"> <img class="img-circle" src="../imagens/linuxLogo_small.png"></a>
            </div>
			
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <p class="lead navbar-text navbar-right">P.: 0000</p>
                <p class="lead show navbar-text navbar-right">Nome do Usuário</p>
            </div>
			
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Questão </h3></div>
                    <div class="panel-body">
                        <textarea class="input-lg" rows="5" cols="38"></textarea>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="text-center panel-title">Blocos </h1></div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><span>cd </span></li>
                            <li class="list-group-item"><span>wc </span></li>
                            <li class="list-group-item"><span> su</span></li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-primary btn-block btn-lg" type="button">Adicionar </button>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Algoritmo </h3></div>
                    <div class="panel-body">
                        <div class="col-md-1">
                            <ul class="list-group">
                                <li class="list-group-item"><span>1-</span></li>
                                <li class="list-group-item"><span>2-</span></li>
                                <li class="list-group-item"><span>3-</span></li>
                                <li class="list-group-item"><span>4-</span></li>
                                <li class="list-group-item"><span>5-</span></li>
                                <li class="list-group-item"><span>6-</span></li>
                                <li class="list-group-item"><span>7-</span></li>
                                <li class="list-group-item"><span>8-</span></li>
                                <li class="list-group-item"><span>9-</span></li>
                            </ul>
                        </div>
                        <div class="col-md-11">
                            <ul class="list-group">
                                <li class="list-group-item"><span>List Group Item 1</span></li>
                                <li class="list-group-item"><span>List Group Item 1</span></li>
                                <li class="list-group-item"><span>List Group Item 2</span></li>
                                <li class="list-group-item"><span>List Group Item 3</span></li>
                                <li class="list-group-item"><span>List Group Item 3</span></li>
                                <li class="list-group-item"><span>List Group Item 3</span></li>
                                <li class="list-group-item"><span>List Group Item 3</span></li>
                                <li class="list-group-item"><span>List Group Item 3</span></li>
                                <li class="list-group-item"><span>List Group Item 3</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-default btn-block btn-lg" type="button">Limpar </button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success btn-block btn-lg" type="button">Enviar Resposta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
