.bodyCor {
	background-color: #ff7c4d;
}

.barraDeMenu {
	background-color: #4D4D4D;
	border: 0px;
	color: #ffffff;
}

.componenteDoMenuAtivado {
	background-color: #ff7c4d;
	
}

.panel-default > .panel-heading-corPreta{
  background-image: none;
  background-color: #4D4D4D;
  color: #ffffff;
}

.panel-default > .panel-body-corPreta{
  background-image: none;
  background-color: #4D4D4D;
  color: #ffffff;
}

.textoBranco {
	color: #ffffff;
}

.corLaranja {
	background-color: #ff8566;
}

.backgroudBranco {
	backgroud-color: #ffffff;
}

.corPreta {
	background-color: #ffffff;
}