#bodyRegistro {
	background-color: #ff7c4d;
}

#bodyIndex {
	background-color: #ff7c4d;
}

#barraDeMenu {
	background-color: #ffc7b3;
	border: 0px;
}

#componenteDoMenuAtivado {
	background-color: #ff7c4d;
	color: #ffffff
}